#wrapper{
  width: 40em;
  -webkit-perspective: 800;
}

#allPlan{
  width: 10em;
  height: 14em;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d; /* pour avoir l'effet 3D */ 
  -webkit-animation: Caroussel 10s infinite linear;
}

.plan{
  position: absolute;
  height: 14em;
  width: 14em;
  text-align: center;
  font-size: 8em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);;
}

@-webkit-keyframes Caroussel{
  from { -webkit-transform: rotateY(0);}
  to { -webkit-transform: rotateY(360deg);}
}
#allPlan > .p1 {
  -webkit-transform: translateZ(30em);
}
#allPlan > .p2 {
  -webkit-transform: rotateY(45deg) translateZ(30em);
}
#allPlan > .p3 {
  -webkit-transform: rotateY(-45deg) translateZ(30em);
}
