/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-color: #13344a;
  color: white;
  padding-top: 2%;
  padding-bottom: 1.5em;
}
.jumbotron{
  color:black;
  /*background-color: rgb(135, 139, 194);*/
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.carousel-inner .item > img{
  position: absolute;
  max-width: none;
}
cite{
  text-align: right;
}
h1{
  font-family: 'Nothing You Could Do', cursive;
}
li{
  display: inline;
}
/*@media screen and (min-width: 650px){
  body{
    background-image: url('../img/WallPaper_Semaine02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}*/
